<h1><u><strong>Navigating through Auction House</strong></u></h1>
<h2><u><strong>Market</strong></u></h2>
<p> This is the place where you can bid for products other put up for auction.</p>
<h4><strong><u>Note:</u></strong></h4>
<p><strong>But you can't see your own products that are up for auction.</strong></p>
<h2><strong><u>MY Stuff</u></strong></h2>
<p>It has 4 tabs</p>
<h4><u><strong>My Auction Items</strong></u></h4>
<p>This is where all the items you have put up for auction are displayed.</p>
<h4><u><strong>My Bids</strong></u></h4>
<p>This is where all the items in which you are highest bidder are displayed.</p>
<h4><u><strong>My Claimed Items</strong></u></h4>
<p>This is where all the items that you have claimed are displayed.</p>
<h4><u><strong>My Sold Products</strong></u></h4>
<p>This is where all the items that you have sold are displayed.</p>
<h2><u><strong>SELL</strong></u></h2>
<p>This the form to put up products for auction.</p>
<h2><u><strong>Other Sold Products</strong></u></h2>
<p>This is where sold products are displayed</p>
